/* VARIÁVEIS */
:root {
    --orange: #F9874E;
    --blue: #373A87;
    --black: #141D34;
    --lightgray: #edeae9;
    --darkgray: #8B8988;
    --font-Khand: 'Khand', sans-serif;
    --font-Gothic: 'League Gothic', sans-serif;
}

/* GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-Khand);
    font-size: 1.3rem;
}

/* MENU */
.menu-bg {
    background-image: linear-gradient(to bottom, var(--blue), var(--black));
    height: 6rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu__logo a {
    text-decoration: none;
    display: flex;
    margin-left: 3rem;
}

.logotipo-image {
    height: 5rem;
    filter: drop-shadow(.05rem .05rem .08rem #141D34);
}

.logotipo-text {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 0.1rem var(--black);
    text-shadow: .1rem .1rem .2rem #141D34;
    margin-left: 1rem;
}

.orange-text {
    color: var(--orange);
}

#search-bar,
#search-bar:active,
#search-bar:hover {
    background-color: var(--lightgray);
    color: var(--darkgray);
    font-family: var(--font-Khand);
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: .5rem;
    width: 20rem;
    border-style: none;
}

.fa-magnifying-glass {
    color: var(--darkgray);
    margin-left: -2rem;
    width: 5px;
    height: 5px;
    cursor: pointer;
}

.search-button {
    display: none;
}

.menu-login {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    margin-right: 4rem;
}

/*PÁGINA DO PRODUTO*/
.grid1-1,
.grid1-2 {
    display: grid;
}

.grid1-1 {
    grid-template-columns: 1fr 1fr;
}

.grid1-2 {
    grid-template-columns: 1fr 2fr;
    width: 500px;
}

.container-row {
    height: 30px;
}

.center-cropped {
    width: 400px;
    text-align: center;
}

.product-image {
    height: 600px;
    margin: 30px auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.top-row {
    text-align: center;
}

.inline {
    display: inline;
}

.product-name {
    color: var(--blue);
    font-size: 3rem;
}

.rating {
    background-color: var(--blue);
    color: white;
    font-size: 2.5rem;
    padding: .2rem .5rem .2rem .5rem;
    margin: auto;
    border-radius: 50%;
    font-family: var(--font-Gothic);
}

.specifications {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: .2rem;
    padding: .3rem 1rem;
    text-align: center;
}

.specification-attribute {
    background-color: var(--blue);
    color: white;
    margin: .2rem;
    width: 350px;
}

.specification-value {
    background-color: var(--lightgray);
    color: var(--blue);
    margin: .2rem;
    width: 350px;
}

#nutritionfactslegend {
    color: var(--darkgray);
    font-weight: 500;
    text-align: left;
}