/* VARIÁVEIS */

:root {
    --orange: #F9874E;
    --blue: #373A87;
    --black: #141D34;
    --lightgray: #edeae9;
    --darkgray: #8B8988;
    --font-Khand: 'Khand', sans-serif;
    --font-Gothic: 'League Gothic', sans-serif;
}

/* GERAL */

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-Khand);
    font-size: 1.3rem;
}
/* MENU */
.menu-bg {
    background-image: linear-gradient(to bottom, var(--blue), var(--black));
    height: 6rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu__logo a {
    text-decoration: none;
    display: flex;
    margin-left: 3rem;
}

.logotipo-image {
    height: 5rem;
    filter:drop-shadow(.05rem .05rem .08rem #141D34);
}

.logotipo-text {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 0.1rem var(--black);
    text-shadow: .1rem .1rem .2rem #141D34;
    margin-left: 1rem;
}

.orange-text {
    color: var(--orange);
}

#search-bar, #search-bar:active, #search-bar:hover {
    background-color: var(--lightgray);
    color: var(--darkgray);
    font-family: var(--font-Khand);
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: .5rem;
    width: 20rem;
    border-style: none;
}

.fa-magnifying-glass{
    color: var(--darkgray);
    margin-left: -2rem;
    width: 5px;
    height: 5px;
    cursor: pointer;
}

.search-button{
    display: none;
}

.menu-login{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    margin-right: 4rem;
}

/* FILTRO */
.container-row{
    float:right;
    margin-top: 1.2rem;
    margin-right: 4rem;
}

.filter-section, .filter-section select{
    font-size: 1.3rem;
    color: var(--darkgray);
}

.filter-section select{
    font-family: var(--font-Khand);
}

/* GALERIA */
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    gap: 2rem;
    margin: 5rem 4rem 5rem 4rem;
    justify-content: center;
}

/*PRODUTOS*/
.product{
    width: 15rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.product img{
    height: 14rem;
    
}

.product h3, .product fieldset{
    color: var(--blue);
}

.product h3 {
    width: 240px;
    height: 76px;
}

.product .price, .product .rating{
    font-family: var(--font-Gothic);
}

.product .price{
    color: var(--darkgray);
    font-size: 3rem;
}

.product .rating{
    background-color: var(--blue);
    color: white;
    font-size: 2.5rem;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 50%;
}

.product fieldset{
    border: 2px solid var(--blue);
    padding: .5em;
}
.product fieldset legend{
    font-weight: 500;
    text-align: left;
    font-size: .8rem;
}