/* VARIÃVEIS */

:root {
    --orange: #F9874E;
    --blue: #373A87;
    --black: #141D34;
    --lightgray: #edeae9;
    --darkgray: #8B8988;
    --font-Khand: 'Khand', sans-serif;
    --font-Gothic: 'League Gothic', sans-serif;
}

/* GERAL */
.arrow-right, .arrow-left {
    width: 10%;
    height: 10%;
}
.seta {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-Khand);
    font-size: 1.3rem;
}

header {
    margin-bottom: 1%;
}
/* MENU */
.menu-bg {
    background-image: linear-gradient(to bottom, var(--blue), var(--black));
    height: 6rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu__logo a {
    text-decoration: none;
    display: flex;
    margin-left: 3rem;
}

.logotipo-image {
    height: 5rem;
    filter:drop-shadow(.05rem .05rem .08rem #141D34);
}

.logotipo-text {
    font-size: 4rem;
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 0.1rem var(--black);
    text-shadow: .1rem .1rem .2rem #141D34;
    margin-left: 1rem;
}

.orange-text {
    color: var(--orange);
}

#search-bar, #search-bar:active, #search-bar:hover {
    background-color: var(--lightgray);
    color: var(--darkgray);
    font-family: var(--font-Khand);
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: .5rem;
    width: 20rem;
    border-style: none;
}

.fa-magnifying-glass{
    color: var(--darkgray);
    margin-left: -2rem;
    width: 5px;
    height: 5px;
    cursor: pointer;
}

.search-button{
    display: none;
}

.menu-login{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    margin-right: 4rem;
}

main {
    width: 90%;
    margin: auto;
    padding: 1%;
    display: block;
    flex-wrap: wrap;
}

/* FILTRO */
.filter-section{
    margin-bottom: 20px;
    padding-right: 1%;
    text-align: end;
    font-size: 1.3rem;
    color: var(--darkgray);
}
.filter-section > select {
    font-size: 1.3rem;
    color: var(--darkgray);
    font-family: var(--font-Khand);
}


#content {
    display: flex;
    flex-wrap: wrap;
}

#filter-options {
    width: 20%;
    height: 90%;
}

.filter-box {
    width: 90%;
}

.filter-options-list {
    user-select: none;
    margin-top: 5px;
    text-indent: 1ch;
    color: white;
    padding: 5px;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    width: 95%;
    background-color: var(--blue);
}

.filter-options-list:hover {
    border: 2.5px dashed var(--blue);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.filter-list {
    user-select: none;
    border-radius: 0px 0px 5px 10px;
    margin: 0px auto 10px auto;
    width: 90%;
    text-indent: 1ch;
    background-color: rgb(223, 223, 223);

}

#products-manager {
    display: block;
    width: 80%;
    height: 90%;
    margin-bottom: 20px;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}



/* GALERIA */


/*PRODUTOS*/
.product{
    width: 20%;
    min-width: 200px;
    margin: 0px auto 20px auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.3);
}

.product:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.product img{
    height: 12rem;
    
}
.product h3, .product fieldset{
    color: var(--blue);
}
.product h3 {
    text-align: center;
    margin: 0px auto 0px auto;
    width: 100%;
    min-width: 165px;
    height: 76px;
}

.product .price, .product .rating{
    font-family: var(--font-Gothic);
}

.product .price-rating {
    padding-bottom: 1%;
    text-align: center;
}

.product .price{
    color: var(--darkgray);
    font-size: 3rem;
    margin-right: 5px;
}

.product .rating{
    background-color: var(--blue);
    color: white;
    font-size: 2.5rem;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 50%;
}

.product fieldset{
    border: 2px solid var(--blue);
    padding: .5em;
}
.product fieldset legend{
    font-weight: 500;
    text-align: left;
    font-size: .8rem;
}
.product > .comment {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    
}
